/* styles.css */

/* Fundo e texto da página */
body {
    background: url('./images/back.jpg');
    background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;
    /* Fundo escuro para toda a página */
    color: #e0e0e0;
    /* Texto claro */
    font-family: Arial, sans-serif;
}

/* Estilos para o header e navbar */
.navbar {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
    font-size: 24px;
}

.nav-link {
    font-size: 16px;
}

.navbar-toggler {
    border: none;
    background-color: #25D366;
    /* Cor do WhatsApp para o botão de menu */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="currentColor" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
}

/* Section Hero */
#hero {
    height: 400px;
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 5rem 0;
    /* Cor de fundo escura */
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding-top: 120px;
    background: rgba(0, 0, 0, 0.7);
    padding: 140px;
    border-radius: 6px;
}

.cta-button {
    background-color: #007bff;
    /* Azul para o botão */
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Campo Harmônico */
.enhanced-section {
    /* Escuro para a seção */
    padding: 3rem 0;
    color: #e0e0e0;
}

.input-area select,
.input-area button {
    background-color: #333;
    /* Fundo escuro para inputs e botões */
    color: #e0e0e0;
    /* Texto claro */
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.input-area select {
    width: 100%;
}

/*Section selector*/
#selector{
    background: rgba(0, 0, 0, 0.6);
}

/* Braço de guitarra */
.guitar-neck {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.guitar-neck-display {
    width: 100%;
    height: 150px;
    background: url('./images/guitar-neck.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 14px;
}

.result-card li {
    list-style: none;
}

.result {
    background-color: #333;
    /* Cor de fundo suave para a seção */
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.result-card {
    background-color: #444;
    /* Cor branca para os cards */
    border-radius: 10px;
    /* Bordas arredondadas para os cards */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para os cards */
    padding-bottom: 15px;
}

h3 {
    margin-bottom: 1rem;
    /* Espaçamento abaixo do título */
}

.text-primary {
    color: #007bff;
    /* Cor primária para os títulos */
}

.text-center {
    text-align: center;
    /* Centraliza o texto */
}

.fret {
    position: absolute;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
}

.fret:nth-child(1) {
    top: 20%;
    left: 5%;
}

.fret:nth-child(2) {
    top: 20%;
    left: 25%;
}

.fret:nth-child(3) {
    top: 20%;
    left: 45%;
}

.fret:nth-child(4) {
    top: 20%;
    left: 65%;
}

.fret:nth-child(5) {
    top: 20%;
    left: 85%;
}

.fret:nth-child(6) {
    top: 50%;
    left: 5%;
}

.fret:nth-child(7) {
    top: 50%;
    left: 25%;
}

.fret:nth-child(8) {
    top: 50%;
    left: 45%;
}

.fret:nth-child(9) {
    top: 50%;
    left: 65%;
}

.fret:nth-child(10) {
    top: 50%;
    left: 85%;
}

.fret:nth-child(11) {
    top: 80%;
    left: 5%;
}

.fret:nth-child(12) {
    top: 80%;
    left: 25%;
}

.fret:nth-child(13) {
    top: 80%;
    left: 45%;
}

.fret:nth-child(14) {
    top: 80%;
    left: 65%;
}

.fret:nth-child(15) {
    top: 80%;
    left: 85%;
}

/* Doações */
#section-2{
    background: rgba(0, 0, 0, 0.7);
}

.donation-section {
    background-color: #333;
    color: #fff;
    border-radius: 0px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.donation-section h2 {
    color: #007bff;
}

.donation-section:hover {
    transform: scale(1.02);
}

.pix-code,
.donation-info {
    padding: 15px;
    border-radius: 10px;
    margin-right: 15px;
    transition: box-shadow 0.3s ease;
}

.pix-code:hover,
.donation-info:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.alert {
    margin-top: 20px;
}

/* Contato */
#contact {
    background: rgba(0, 0, 0, 0.6);
    /* Escuro para a seção */
    padding: 3rem 0;
    color: #e0e0e0;
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    padding: 20px;
}

.contact-info p {
    margin: 0.5rem 0;
}

/* Estilos para o botão de WhatsApp */

/* Estilos para o modal */
.modal {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    z-index: 1001;
    /* Coloca o modal acima dos outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Cor de fundo com opacidade */
}

.modal-content {
    background: rgba(0, 0, 0, 0.7);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para o botão do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    /* Distância da base da página */
    right: 20px;
    /* Distância da borda direita da página */
    z-index: 1000;
    /* Coloca o botão acima dos outros elementos */
    cursor: pointer;
    border: none;
}

.whatsapp-button i {
    margin: 0;
}

.whatsapp-button img{
    opacity: 0.7;
}

.whatsapp-button img {
    width: 45px;
}

.whatsapp-modal-body {
    text-align: center;
    
}

.whatsapp-modal-body h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.whatsapp-modal-body p {
    margin-bottom: 20px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.btn-primary {
    background-color: #25D366;
    /* Cor padrão do WhatsApp */
    color: white;
}

.btn-primary:hover {
    background-color: #128C7E;
}

.btn-secondary {
    background-color: #f1f1f1;
    color: #333;
}

.btn-secondary:hover {
    background-color: #ddd;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Fim Modal Whatsapp*/

/* Estilos para o botão "Voltar ao Topo" */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    transition: background-color 0.3s ease;
    opacity: 0.6;
}

.scroll-to-top img {
    width: 45px;
}

/* Estilos para ícones */
.fab,
.fas {
    margin: 0;
    line-height: 1;
}

/* Ajuste para a fonte dos ícones */
.fab,
.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* Para ícones sólidos */
}


/* Footer */
footer {
    background-color: #1f1f1f;
    /* Escuro para o footer */
    color: #e0e0e0;
}

footer a {
    padding: 6px;
    color: #007bff;
    /* Azul para os links do footer */
}

footer a:hover {
    text-decoration: underline;
}

/* Modal */
.modal-content {
    background-color: #333;
    /* Escuro para o conteúdo do modal */
    color: #e0e0e0;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

/*Section dinamica com video*/
#dynamic-section {
    display: none;
    /* Inicialmente oculto */
    background-color: #f8f9fa;
    /* Cor de fundo suave */
    border-radius: 0px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

#dynamic-title {
    margin-bottom: 1rem;
}

#dynamic-content {
    margin-bottom: 2rem;
    /* Mais espaço abaixo do texto */
}

#dynamic-image {
    max-height: 400px;
    /* Limita a altura da imagem */
    object-fit: cover;
    /* Mantém a proporção da imagem */
}

.btn-success {
    background-color: #28a745;
    /* Cor verde */
    border: none;
    /* Remove a borda */
}

.btn-outline-secondary {
    color: #6c757d;
    /* Cor do texto */
    border-color: #6c757d;
    /* Cor da borda */
}

/*Section dinamica com video*/

/* Modal Cifras*/
.modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}

.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-header {
    border-bottom: none;
    padding: 1.5rem;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    padding: 2rem;
}

.search-area {
    display: flex;
    flex-direction: column;
}

.search-area input {
    width: calc(100% - 1rem);
    margin-right: 1rem;
}

.file-list {
    max-height: 60vh;
    overflow-y: auto;
}

.file-preview {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 1rem;
}

.file-content {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    max-height: 50vh;
    overflow-y: auto;
}

.btn-primary {
    margin: 0;
    padding: auto;
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.close {
    font-size: 1.5rem;
}

/*teste*/
.modal {
    display: none;
    /* Ocultar o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor de fundo semi-transparente */
}

/* Atualização no styles.css */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    /* Centralizar o modal */
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    /* Largura máxima do modal */
    max-height: 80%;
    /* Altura máxima do modal */
    overflow-y: auto;
    /* Permitir rolagem vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra ao redor do modal */
}


.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

#search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#file-list {
    list-style: none;
    padding: 0;
}

#file-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#file-list li a {
    text-decoration: none;
    color: #007bff;
    display: block;
}

#file-list li a:hover {
    text-decoration: underline;
}

#file-content {
    white-space: pre-wrap;
    /* Mantém a formatação do texto */
    overflow: auto;
    /* Permite rolar o conteúdo se necessário */
}

#download-btn {
    margin-top: 10px;
}

/*MEdia Querys*/
@media (max-width: 768px) {
    #dynamic-section {
        padding: 2rem 1rem;
        /* Reduz o padding para melhor aproveitamento do espaço */
    }

    .row.align-items-center {
        flex-direction: column;
        /* Alinha os elementos em coluna para dispositivos menores */
    }

    #dynamic-title {
        font-size: 1.8rem;
        /* Reduz o tamanho do título para dispositivos móveis */
        text-align: center;
        /* Centraliza o título para melhor legibilidade */
    }

    #dynamic-content {
        font-size: 1rem;
        /* Ajusta o tamanho da fonte para o texto */
        text-align: center;
        /* Centraliza o texto */
        margin-bottom: 1rem;
        /* Espaço abaixo do conteúdo */
    }

    #download-button,
    #back-button {
        width: 100%;
        /* Botões ocupam 100% da largura em telas menores */
        margin-top: 1rem;
        /* Adiciona espaçamento entre os botões */
        font-size: 1rem;
        /* Ajusta o tamanho da fonte para melhor legibilidade */
        padding: 10px;
        /* Aumenta o padding para melhorar o toque em dispositivos móveis */
    }

    #dynamic-image {
        width: 100%;
        /* Imagem ocupa 100% da largura da coluna */
        margin-top: 2rem;
        /* Adiciona espaçamento acima da imagem */
        height: auto;
        /* Mantém a proporção da imagem */
        max-width: 300px;
        /* Limita a largura máxima da imagem */
    }
}

/**/
/* Responsividade */
@media (max-width: 768px) {
    #dynamic-title {
        font-size: 1.5rem;
        /* Ajuste do tamanho do título em telas menores */
    }

    .lead {
        font-size: 1rem;
        /* Ajuste do tamanho do texto em telas menores */
    }

    .btn {
        width: 60%;
        /* Botões ocupam toda a largura em telas pequenas */
        margin-top: 0.5rem;
        /* Espaço entre botões */
    }

    #dynamic-image {
        max-height: 300px;
        /* Reduz a altura da imagem em telas menores */
    }
}

/**/
@media (max-width: 768px) {
    .input-area {
        width: 70%;
        /* Aumenta a largura para ocupar toda a tela em dispositivos menores */
    }

    select#note {
        width: 70%;
        /* O select ocupa toda a largura da tela */
        padding: 10px;
        /* Ajuste o padding para um layout mais confortável em telas menores */
        font-size: 1rem;
        /* Aumenta o tamanho da fonte para melhor legibilidade */
    }

    button#clear-btn {
        width: 70%;
        /* O botão ocupa toda a largura da tela */
        margin-top: 10px;
        /* Adiciona espaço entre o botão e o select */
        padding: 10px;
        /* Ajuste o padding para um layout mais confortável */
    }

    h2.text-center {
        font-size: 1.5rem;
        /* Reduz o tamanho da fonte para se ajustar melhor à tela menor */
    }
}

/*Hero Media Query*/
@media (max-width: 768px) {
    #hero {
        height: 200px;
        /* Ajusta a altura para conteúdo dinâmico em telas menores */
        padding: 1rem;
        /* Reduz o padding para melhor aproveitamento do espaço em telas menores */
    }

    #bg-video {
        background-color: #333;
        /* Esconde o vídeo de fundo em dispositivos móveis para melhorar o desempenho e economizar dados */
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        /* Mantém a sobreposição mais escura para contraste melhor em telas menores */
    }

    .hero-content {
        width: 100%;
        /* O conteúdo ocupa toda a largura da tela */
        padding: 25px;
        /* Ajuste do padding para maior conforto */
        font-size: 1rem;
        /* Reduz o tamanho da fonte */
    }

    .hero-content h2 {
        font-size: 1.8rem;
        /* Ajusta o tamanho do título para melhor legibilidade em dispositivos menores */
    }

    .hero-content p {
        font-size: 1rem;
        /* Reduz o tamanho da fonte para o texto */
        margin-bottom: 1rem;
        /* Adiciona mais espaço abaixo do parágrafo */
    }

    .hero-content a {
        font-size: 1rem;
        /* Ajusta o tamanho do botão */
        padding: 10px;
        /* Aumenta o padding para melhorar o toque em telas menores */
        width: 60%;
        /* O botão ocupa 100% da largura para facilitar o toque */
        margin-top: 1rem;
        /* Adiciona um espaço acima do botão */
    }
}

/**/
@media (max-width: 768px) {
    #downloadModal .modal-dialog {
        max-width: 90%; /* Aumenta a largura máxima para 90% da tela */
        margin: 10% auto; /* Centraliza o modal com margens */
    }

    #downloadModal .modal-content {
        padding: 1.5rem; /* Ajusta o padding interno para melhor visualização */
    }

    #downloadModalLabel {
        font-size: 1.5rem; /* Reduz o tamanho da fonte do título */
        text-align: center; /* Centraliza o título do modal */
    }

    #downloadModal .modal-body {
        font-size: 1rem; /* Ajusta o tamanho da fonte para o corpo do modal */
        text-align: center; /* Centraliza o texto */
    }

    #downloadModal .modal-footer {
        display: flex;
        flex-direction: column; /* Empilha os botões verticalmente */
        justify-content: center;
        align-items: center;
    }

    #downloadModal .btn {
        width: 100%; /* Faz os botões ocuparem toda a largura */
        margin-top: 0.5rem; /* Adiciona espaço entre os botões */
        font-size: 1rem; /* Ajusta o tamanho da fonte dos botões */
    }

    .modal-header button.close {
        font-size: 1.2rem; /* Diminui o ícone de fechar para dispositivos móveis */
    }
}

/**/
@media (max-width: 768px) {
    #donations .container {
        padding: 0 15px; /* Ajusta o padding lateral para telas menores */
    }

    #donations h2 {
        font-size: 1.75rem; /* Ajusta o tamanho do título */
        margin-bottom: 1rem; /* Reduz o espaçamento abaixo do título */
    }

    #donations p {
        font-size: 1rem; /* Ajusta o tamanho da fonte dos parágrafos */
        margin-bottom: 0.75rem; /* Reduz o espaçamento entre parágrafos */
    }

    #donations .pix-code {
        width: 90%; /* Reduz a largura para caber melhor em telas menores */
        margin-bottom: 1.5rem; /* Ajusta a margem inferior */
    }

    #donations img {
        max-width: 60px; /* Diminui o tamanho da imagem em telas pequenas */
    }

    #donations .pix-text {
        font-size: 1.2rem; /* Ajusta o tamanho do texto PIX */
    }

    #donations #copy-btn {
        width: 100%; /* O botão ocupa toda a largura da seção */
        font-size: 1rem; /* Ajusta o tamanho da fonte do botão */
    }

    #donations #alert-box {
        width: 80%; /* Ajusta a largura da caixa de alerta */
        font-size: 0.9rem; /* Diminui o tamanho do texto de alerta */
    }
}

/*Contato*/
/* Para telas menores, os elementos se alinham verticalmente */
@media (max-width: 768px) {
    #contact {
      background-size: cover;
      background-position: center;
    }
  
    #contact .contact-info {
      text-align: center;
    }
  
    #contact img {
      display: none; /* Esconder a imagem em telas pequenas */
    }
  }
  
  /* Para telas maiores, o layout permanece horizontal */
  @media (min-width: 768px) {
    #contact .contact-info {
      text-align: left;
    }
  
    #contact img {
      display: block;
    }
  }
  

@media (max-width: 768px) {
    #contact .container {
        padding: 0 15px; /* Ajuste no padding lateral para telas menores */
    }

    #contact .contact-info h3 {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte para o título */
        margin-bottom: 1rem; /* Reduz o espaçamento inferior */
    }

    #contact .contact-info p {
        font-size: 1rem; /* Ajusta o tamanho da fonte dos parágrafos */
        margin-bottom: 0.75rem; /* Ajusta o espaçamento entre parágrafos */
    }

    #contact .contact-info button {
        width: 100%; /* O botão ocupa toda a largura da coluna */
        font-size: 1rem; /* Ajusta o tamanho da fonte do botão */
        padding: 10px; /* Ajuste no padding do botão */
    }

    #contactModal .modal-dialog {
        width: 90%; /* Ajusta a largura do modal em telas menores */
        max-width: 100%; /* O modal ocupa toda a tela em dispositivos pequenos */
    }

    #contactModal .modal-content {
        padding: 20px; /* Ajuste no padding do conteúdo do modal */
    }

    #contactModal .modal-header h5 {
        font-size: 1.25rem; /* Ajuste no tamanho do título no modal */
    }

    #contactModal .modal-body .form-label {
        font-size: 0.9rem; /* Ajuste no tamanho do texto dos labels */
    }

    #contactModal .modal-body .form-control {
        font-size: 1rem; /* Ajuste no tamanho do texto nos campos de input */
    }

    #contactModal .modal-body button {
        width: 100%; /* O botão no modal ocupa toda a largura da seção */
        font-size: 1rem; /* Ajuste no tamanho da fonte do botão */
    }
}

/**/
/* Botão de WhatsApp */
@media (max-width: 768px) {
    .whatsapp-button {
        bottom: 15px; /* Ajusta a posição vertical do botão */
        right: 15px; /* Ajusta a posição horizontal do botão */
        width: 50px; /* Ajusta o tamanho do botão para telas menores */
        height: 50px;
    }

    .whatsapp-button img {
        width: 100%; /* Garante que a imagem dentro do botão ocupe toda a área */
        height: auto;
    }
}

/* Modal do WhatsApp */
@media (max-width: 768px) {
    #whatsapp-modal .modal-content {
        width: 90%; /* Ajusta a largura do modal em dispositivos móveis */
        max-width: 100%;
        padding: 20px; /* Ajusta o padding interno do modal */
        margin: 20% auto; /* Ajusta a posição do modal em telas pequenas */
    }

    .whatsapp-modal-body h2 {
        font-size: 1.5rem; /* Reduz o tamanho do título */
    }

    .whatsapp-modal-body p {
        font-size: 1rem; /* Ajusta o tamanho do texto */
        margin-bottom: 15px;
    }

    .whatsapp-modal-body .btn {
        width: 100%; /* Botões ocupam toda a largura do modal */
        padding: 12px; /* Ajusta o padding dos botões */
        margin-bottom: 10px; /* Espaço entre botões */
    }
}

/* Botão "Voltar ao Topo" */
@media (max-width: 768px) {
    .scroll-to-top {
        bottom: 15px; /* Ajusta a posição vertical do botão */
        left: 15px; /* Ajusta a posição horizontal do botão */
        width: 50px; /* Reduz o tamanho do botão */
        height: 50px;
    }

    .scroll-to-top img {
        width: 100%; /* Garante que a imagem dentro do botão ocupe toda a área */
        height: auto;
    }
}
